/public/normal/*.html
/public/log_/
/public/*.txt
runtime/
.project
public/upload/head/
public/upload/*.png
public/2019-04-04.txt
.idea/workspace.xml
.idea/vcs.xml
.idea/php.xml
.idea/new_snake.iml
.idea/modules.xml
.idea/misc.xml
public/2.txt
public/1.txt
newtest/saoma/TicketState.html
newtest/saoma/TicketLogin.html
newtest/saoma/ShoppingCard.html
newtest/public/reset.css
newtest/public/mine.js
newtest/public/laypage/skin/laypage.css
newtest/public/laypage/laypage.js
newtest/public/layer-v3.1.1/layer/theme/default/loading-2.gif
newtest/public/layer-v3.1.1/layer/theme/default/loading-1.gif
newtest/public/layer-v3.1.1/layer/theme/default/loading-0.gif
newtest/public/layer-v3.1.1/layer/theme/default/layer.css
newtest/public/layer-v3.1.1/layer/theme/default/icon.png
newtest/public/layer-v3.1.1/layer/theme/default/icon-ext.png
newtest/public/layer-v3.1.1/layer/mobile/need/layer.css
newtest/public/layer-v3.1.1/layer/mobile/layer.js
newtest/public/layer-v3.1.1/layer/layer.js
newtest/public/jquery.cookie.js
newtest/public/jquery-1.9.1.js
newtest/public/fastclick.js
newtest/jquery-1.10.1.min.js
newtest/img/zhucetu.png
newtest/img/zhucechenggong_beijing.png
newtest/img/zhuce2.png
newtest/img/zhuce2.jpg
newtest/img/zhuce1.png
newtest/img/yincang.png
newtest/img/xiazaiappanniu_zhucechenggong.png
newtest/img/xiazai_beijingtu.png
newtest/img/xiazai_anniu.png
newtest/img/touxiangkuang.png
newtest/img/tanchuang_liulanqi.png
newtest/img/saoma/yanzhengma.png
newtest/img/saoma/tankuang_beijing.png
newtest/img/saoma/shouji.png
newtest/img/saoma/mima.png
newtest/img/saoma/logo.png
newtest/img/saoma/kapian.png
newtest/img/saoma/gouwuka_01.png
newtest/img/logo.png
newtest/img/lijilingqu003.png
newtest/img/kai.png
newtest/img/icon_zfbzf.png
newtest/img/icon_xuanzhong.png
newtest/img/icon_wxzf.png
newtest/img/icon_weixuan.png
newtest/img/h5/倒计时bg.png
newtest/img/h5/zhutubg.png
newtest/img/h5/zhutu.png
newtest/img/h5/tianmao.png
newtest/img/h5/taobao.png
newtest/img/h5/shangpinbiaoti.png
newtest/img/h5/shangpinbg.png
newtest/img/h5/quan.png
newtest/img/h5/qietu/xiazaibtn.png
newtest/img/h5/qietu/title.png
newtest/img/h5/qietu/tianmao.png
newtest/img/h5/qietu/taobao.png
newtest/img/h5/qietu/shangcheng.png
newtest/img/h5/qietu/pinduoduo.png
newtest/img/h5/qietu/jingdong.png
newtest/img/h5/qietu/huodonghongbao2.png
newtest/img/h5/qietu/huodonghongbao.png
newtest/img/h5/qietu/huodong2.png
newtest/img/h5/qietu/hongbao.jpg
newtest/img/h5/qietu/haobao1.png
newtest/img/h5/qietu/bg.png
newtest/img/h5/qietu/anniu8.jpg
newtest/img/h5/qietu/anniu7.jpg
newtest/img/h5/qietu/9.png
newtest/img/h5/qietu/8.png
newtest/img/h5/qietu/7.png
newtest/img/h5/qietu/6.png
newtest/img/h5/qietu/5.png
newtest/img/h5/qietu/4.png
newtest/img/h5/qietu/3.png
newtest/img/h5/qietu/2.png
newtest/img/h5/qietu/10.png
newtest/img/h5/qietu/1.png
newtest/img/h5/qianggoubg.png
newtest/img/h5/pinduoduo.png
newtest/img/h5/lijishiyonganniu.png
newtest/img/h5/lijiqianggou.png
newtest/img/h5/jingdong.png
newtest/img/h5/jiage.png
newtest/img/h5/hongbao.png
newtest/img/h5/guoqi.png
newtest/img/h5/gengduoshangchengbg.png
newtest/img/h5/daojishibiaodian.png
newtest/img/h5/daojishi.png
newtest/img/h5/biaotibg.png
newtest/img/h5/biaoti.png
newtest/img/h5/bg.png
newtest/img/h5/anniu.png
newtest/img/h5/200yuan.png
newtest/img/h5/1.png
newtest/img/chakan.png
newtest/img/btn.png
newtest/img/beijing_001.png
newtest/img/anniu_zhidaole.png
/nbproject/private/
